
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8" />
            <title>Harita</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
            <style>
                html, body, #map {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
            </style>
        </head>
        <body>
            <div id="map"></div>

            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <script>
                var map = L.map('map').setView([39.9215522, 32.8517202], 16);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);
                L.marker([39.9215522, 32.8517202]).addTo(map)
                    .bindPopup('Seçilen Konum')
                    .openPopup();
            </script>
        </body>
        </html>
        